<section class="container-sm">
    <section class="row mt-5">
        <section class="border rounded">
            <form>
                <h2 class="text-center">Register</h2>
                <section class="form-group row">
                  <label for="firstName" class="form-label">First Name</label>
                  <section>
                    <input type="text" class="form-control" name="firstName" [(ngModel)]="firstname" placeholder="First Name" required>
                  </section>
                </section>
                <section class="form-group row">
                    <label for="lastName" class="form-label">Last Name</label>
                    <section>
                      <input type="text" class="form-control" name="lastName" [(ngModel)]="lastname" placeholder="Last Name" required>
                    </section>
                  </section>
                <section class="form-group row">
                  <label for="username" class="form-label">Username</label>
                  <section>
                    <input type="text" class="form-control" name="username"  [(ngModel)]="username" placeholder="Username" required>
                  </section>
                </section>
                <section class="form-group row">
                  <label for="password" class="form-label">Password</label>
                  <section>
                    <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Password" required>
                  </section>
                </section>
                <section class="form-group row mt-3">
                  <section class="text-center">
                    <button type="button" class="btn btn-outline-dark" (click)="EnviarMensaje()">Sign in</button>
                  </section>
                </section>
              </form>
        </section>     
    </section>
</section>